<li>
   <h3>J.P. Morgan Chase & Co.</h3>
   <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
   <p>
       <ul>
           <li class="emph"><strong>Current Price:</strong> $20.00</li>
           <li><strong>PE:</strong> 12x</li>
           <li><strong>EPS:</strong> $2.34</li>
           <li><strong>ROI:</strong> 20.00%</li>
           <li><strong>Rating:</strong> Buy</li>
           <li><strong>Industry Sector:</strong> Financials</li>
           <li class="emph"><a href="#" class="button-1">Learn More</a></li>
       </ul>
   </p>
<li>


{% for stock in stocks %}

<li>
   <h3>{{ stock.Name }}</h3>
   <!-- <p>{{ stock.description }}</p> -->
   <p>
       <ul>
           <li class="emph"><strong>Current Price:</strong> {{ stock.price }}</li>
           <li><strong>PE:</strong> {{ stock.pe }}</li>
           <li><strong>EPS:</strong> {{ stock.eps }}</li>
           <li><strong>ROI:</strong> {{ stock.roiI }}</li>
           <li><strong>Rating:</strong> {{ stock.rating }}</li>
           <li><strong>Industry Sector:</strong> Financials</li>
           <li class="emph"><a href="#" class="button-1">Learn More</a></li>
       </ul>
   </p>
<li>
{% endfor %}