<!DOCTYPE html>

<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Wisdom Wealth Management | Stocks</title>
    <link rel="stylesheet" href="https://projectoneda.github.io/presentation/styles.css">
    </head>
    
    <body>
        <header>
            <div class="container">
                <div id="branding">
                    <h1>Wisdom Wealth Management</h1>
                </div>
                <nav>
                    <ul>
                        <li><a href="https://projectoneda.github.io/presentation/index.html">Home</a></li>
                        <li><a href="https://projectoneda.github.io/presentation/about.html">About</a></li>
                        <li><a href="https://projectoneda.github.io/presentation/stocks.html">Stocks</a></li>
                        <li><a class="current"><a href="http://127.0.0.1:5000/">Flask</a></li>
                        <li><a href="https://projectoneda.github.io/presentation/services.html">Services</a></li>
                    </ul>
                </nav>
            </div> 
        </header>
            
        <section id="newsletter">
            <div class="container">
                <h1>Subscribe to Our Newsletter</h1>
                    <form>
                        <input type="email" placeholder="Enter Email...">
                        <button type="submit" class="button-1">Subscribe</button>
                    </form>
            </div>
        </section>

        <section id="main">
            <div class="container">
                <article id=main-col>
                    <h1 class="page-title">Sample Stocks of The Day</h1>
                    <ul id=stocks>
                        <li>
                            <h3>{{stocks.JPM}}</h3>
                            
                            <p>
                                <ul>
                                    <li class="emph"><strong>Current Price:</strong> {{price.JPM}}</li>
                                    <li><strong>PE:</strong> {{pe.JPM}}</li>
                                    <li><strong>EPS:</strong> {{eps.JPM}}</li>
                                    <li><strong>ROI:</strong> {{pyield.JPM}}</li>
                                    <li><strong>Rating:</strong> {{recc.JPM}}</li>
                                    <li><strong>Industry Sector:</strong>Financials</li>
                                    <li class="emph"><a href="#" class="button-1">Learn More</a></li>
                                </ul>
                            </p>
                        <li>
                            <h3>{{stocks.GS}}</h3>
                            
                            <p>
                                <ul>
                                    <li class="emph"><strong>Current Price:</strong> {{price.GS}}</li>
                                    <li><strong>PE:</strong> {{pe.GS}}</li>
                                    <li><strong>EPS:</strong> {{eps.GS}}</li>
                                    <li><strong>ROI:</strong> {{pyield.GS}}</li>
                                    <li><strong>Rating:</strong> {{recc.GS}}</li>
                                    <li><strong>Industry Sector:</strong>Financials</li>
                                    <li class="emph"><a href="#" class="button-1">Learn More</a></li>
                                </ul>
                            </p>
                        </li>
                        <li>
                            <h3>{{stocks.BAC}}</h3>
                            
                            <p>
                                <ul>
                                    <li class="emph"><strong>Current Price:</strong> {{price.BAC}}</li>
                                    <li><strong>PE:</strong> {{pe.BAC}}</li>
                                    <li><strong>EPS:</strong> {{eps.BAC}}</li>
                                    <li><strong>ROI:</strong> {{pyield.BAC}}</li>
                                    <li><strong>Rating:</strong> {{recc.BAC}}</li>
                                    <li><strong>Industry Sector:</strong>Financials</li>
                                    <li class="emph"><a href="#" class="button-1">Learn More</a></li>
                                </ul> 
                            </p>
                        </li>
                        <li>
                            <h3>{{stocks.UBS}}</h3>
                            
                            <p>
                                <ul>
                                    <li class="emph"><strong>Current Price:</strong> {{price.UBS}}</li>
                                    <li><strong>PE:</strong> {{pe.UBS}}</li>
                                    <li><strong>EPS:</strong> {{eps.UBS}}</li>
                                    <li><strong>ROI:</strong> {{pyield.UBS}}</li>
                                    <li><strong>Rating:</strong> {{recc.UBS}}</li>
                                    <li><strong>Industry Sector:</strong>Financials</li>
                                    <li class="emph"><a href="#" class="button-1">Learn More</a></li>
                                </ul>
                            </p>
                        </li>
                        <li>
                            <h3>{{stocks.WFC}}</h3>
                            
                            <p>
                                <ul>
                                    <li class="emph"><strong>Current Price:</strong> {{price.WFC}}</li>
                                    <li><strong>PE:</strong> {{pe.WFC}}</li>
                                    <li><strong>EPS:</strong> {{eps.WFC}}</li>
                                    <li><strong>ROI:</strong> {{pyield.WFC}}</li>
                                    <li><strong>Rating:</strong> {{recc.WFC}}</li>
                                    <li><strong>Industry Sector:</strong>Financials</li>
                                    <li class="emph"><a href="#" class="button-1">Learn More</a></li>
                                </ul>
                            </p>
                        </li>
                    </ul>
                </article>
                
                <aside id="sidebar">
                    <div class="dark">
                        <h3>Advisory Options</h3>
                            <form class="quote">
                                <div>
                                    <label>Name</label> <br>
                                    <input type="text" placeholder="Name">
                                </div>
                                <div>
                                    <label>Email</label> <br>
                                    <input type="text" placeholder="Email">
                                </div>
                                <div>
                                    <label>Message</label> <br>
                                    <textarea placeholder="Message"></textarea>
                                </div>
                                <button class="button-1" type="submit">Send</button>
                            </form>
                    </div>
                </aside>

            </div>
        </section>

        <footer>Wisdom Wealth Management, Copyright &copy; 2019</footer>

    </body>
</html>
